alabaster==0.7.12
attrs==21.2.0
Authlib==0.15.5
Babel==2.9.1
beautifulsoup4==4.10.0
black @ git+git://github.com/psf/black@e7ddf524b056d2bc42ee6b2b5c3314e0dd5d95fb
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==35.0.0
cycler==0.11.0
docutils==0.17.1
Flask==2.0.2
fonttools==4.28.1
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
lyricsgenius==3.0.1
MarkupSafe==2.0.1
matplotlib==3.5.0
mypy==0.930
mypy-extensions==0.4.3
numpy==1.21.4
packaging==21.3
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pydantic==1.9.0
Pygments==2.10.0
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
-e git+https://github.com/snaraj/SpotiPlus.git@7bedce7fc1a834a24adf4d2b0b8feb348231a5ec#egg=spotiplus
spotipy==2.19.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
