{% extends "base.html" %}
{% block title %} Spoti+ {% endblock %}
{% block body %}
<div class="flex flex-row justify-center items-center p-10">
	<div class="flex-1">
		<h1 class="text-lg text-bold">Spoti+</h1>
	</div>
	<div class="flex-1">
		<h3 class="text-lg text-bold text-center">{{ user_display_name }}'s Dashboard</h3>
	</div>
	<div class="grid justify-items-end flex-1">
		<img class="rounded-full" src="{{ user_display_image }}" width="100px" height="100px">
	</div>
</div>
<div class="grid grid-flow-col grid-cols-3 gap-5 pb-10">
	<div class="col-span-1">
		<textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10" rows="20">
			{{ current_song_lyrics }}
		</textarea>
	</div>
	<div class="col-span-1">
		<div class="">
			<p class="mt-8 mb-5 text-center text-lg text-bold">About {{ current_playblack_song_artist }}</p>
			<textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10" rows="6">{{ artist_summary }}</textarea>
			<p class="m-5 text-center text-lg text-bold">About {{ current_playback_song_title }}</p>
			<textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10 " rows="6">{{ song_summary }}</textarea>
		</div>
	</div>
	<div class="col-span-1">
		<div class="flex-cols mt-8 mb-4">
			<p class="text-center text-lg text-bold">{{ current_playback_song_title }}</p>
			<p class="text-center text-lg text-bold">{{ current_playblack_song_artist }}</p>
		</div>
		<div class="flex justify-center">
			{% if current_playback_image_uri %}
				<img src="{{ current_playback_image_uri }}" width="425px" height="425px" class="mb-4">
			{% else %}
				<p>No current playback</p>
			{% endif %}
		</div>
		<div class="flex justify-center align-center">
			<form method="post">
				<button type="submit" name="Submit" value="<<">
					<i class="m-5 border-opacity-100 gg-play-backwards"></i>
				</button>
				<button class="" type="submit" name="Submit" value=">>">
					<i class="m-5 gg-play-forwards"></i>
				</button>
				<button class="" type="submit" name="Submit" value="pause">
					<i class="m-5 gg-play-pause"></i>
				</button>
				<button class="background-black" type="submit" name="Submit" value="play">
					<i class="m-4 gg-play-button"></i>
				</button>
			</form>
		</div>
	</div>
</div>
<div class="grid grid-flow-col grid-cols-3 gap-10 content-center">
	<div class="col-span-1">
		<h3 class="text-lg text-bold text-center mb-10">Add to Queue</h3>
		<form method="post">
			<h3 class="text-center">Song</h3>
			<input class="bg-gray-50 m-2 block w-full" id="song_name" name="song_name" type="text" placeholder="Enter a song.."><br>
			<h3 class="text-center">Artist</h3>
			<input class="bg-gray-50 m-2 block w-full md:ring-indigo-200" type="text" id="artist_name" name="artist_name" placeholder="Enter an artist.."><br>
			<div class="flex flex-nowrap justify-center">
				<input class="m-2" type="submit" name="Submit" value="Queue">
			</div>
		</form>
	</div>
		<div class="col-span-1 text-center">
			<h3 class="text-lg text-bold mb-5">Top Artist</h3>	
				<ul class="list-decimal">
				{% for artist in current_user_top_artist: %}
					<li class="p-0.2">{{ artist }}</li>
				{% endfor %}
				</ul>
			<h3 class="text-lg text-bold m-5">Top Songs</h3>
				<ul class="list-decimal">
				{% for song in current_user_top_tracks: %}
					<li class="p-0.2">{{ song }}</li>
				{% endfor %}
				</ul>
		</div>
	<div>
		<div class="col-span-1">
			<h3 class="text-center">Artist similar to {{ current_playblack_song_artist }}</h3>
			<ul>
				{% for artist in recommended_artist: %}
					<li class="p-0.2">{{ artist }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<!-- <table>
	<tr>
	{% for song, artist, path in zip(songs, artists, paths): %}
		<tr>
			<td>{{ song }}</td>
			<td>{{ artist }}</td>
			<td><a href="{{ path }}">Genius Link: {{ song }}</a></td>
		</tr>
	{% endfor %}
	</tr>
</table> -->
{% endblock %}