{% extends "base.html" %}
{% block header_js %}
<script type="text/javascript">
	// call updateDashboard() every 1000 milliseconds

	//Write a bunch of functions like this one for every section that needs to be updated
	//they need to have unique div id's because this only updates the first instance 
	//that it finds of itself. The name of the function should not match the name of the
	//div id, this will always cause a TypeError error.

	// NEXT STEP
	// CHANGE THE UPDATE TIMER TO FIRE ON THE LENGTH OF THE SONG INSTEAD OF SET AMOUNT OF TIME
	$(function () {
		window.setInterval(function() {
			updateDashboard();
		}, 2000);
	})

	function update_aboutTitle(){
		$.ajax({
			url: "/update_aboutTitle",
			type: "POST",
			dataType: "json",
			success: function(data){
				$(update_songTitle_about).replaceWith(data)
			}
		});
	}

	function update_aboutArtist(){
		$.ajax({
			url: "/update_aboutArtist",
			type: "POST",
			dataType: "json",
			success: function(data){
				$(update_songArtist_about).replaceWith(data)

			}
		})
	}

	function update_playerTitle() {
		$.ajax({
			url: "/update_playerTitle",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_songTitle_player).replaceWith(data)
			}
		})
	}

	function update_playerArtist() {
		$.ajax({
			url: "/update_playerArtists",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_songArtists_player).replaceWith(data)
			}
		})
	}

	function update_playerImage() {
		$.ajax({
			url: "/update_playerImage",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_songImage_player).replaceWith(data)
			}
		})
	}

	function update_lyrics() {
		$.ajax({
			url: "/update_lyrics",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_songLyrics).replaceWith(data)
			}
		})
	}

	function update_currentArtistSummary() {
		$.ajax({
			url: "/update_currentArtistSummary",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_artistSummary).replaceWith(data)
			}
		})
	}

	function update_currentSongSummary() {
		$.ajax({
			url: "/update_currentSongSummary",
			type: "POST",
			dataType: "json",
			success: function(data) {
				$(update_songSummary).replaceWith(data)
			}
		})
	}

	function updateDashboard() {
		// updating About section
		update_aboutTitle();
		update_aboutArtist();
		// updating Player section
		update_playerTitle();
		update_playerArtist();
		update_playerImage();
		// updating Song lyrics
		update_lyrics();
		// updating artist and song summaries
		update_currentArtistSummary();
		update_currentSongSummary();
	}

</script>
{% endblock %}
{% block title %} Spoti+ {% endblock %}
{% block body %}
<div class="flex flex-row justify-center items-center p-10">
	<div class="flex-1">
		<h1 class="text-lg text-bold">Spoti+</h1>
	</div>
	<div class="flex-1">
		<h3 class="text-lg text-bold text-center">{{ user_display_name }}'s Dashboard</h3>
	</div>
	<div class="grid justify-items-end flex-1">
		<img class="rounded-full" src="{{ user_display_image }}" width="100px" height="100px">
	</div>
</div>
<div class="grid grid-flow-col grid-cols-3 gap-5 pb-10">
	<!-- SONG LYRICS -->
	<div class="col-span-1">
		<div id="update_songLyrics"><textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10" rows="20">
				{{ update_songLyrics }}
		</textarea></div>
	</div>
	<!-- ABOUT SECTION -->
	<div class="col-span-1">
		<div id="update_songArtist_about">
			<!-- About Artist title -->
			<p class="mt-8 mb-5 text-center text-lg text-bold">About 
					{{ update_songArtist_about }}
			</p>
		</div>
		<!-- ARTIST SUMMARY -->
		<div id="update_artistSummary">
			<textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10" rows="6">
				{{ artist_summary }}
			</textarea>
		</div>
		<p class="m-5 text-center text-lg text-bold">About 
			<!-- about the current song -->
			<div id="update_songTitle_about">
				{{ update_songTitle_about }}
			</div>
		</p>
		<!-- SONG SUMMARY -->
		<div id="update_songSummary">
			<textarea class="w-full px-3 py-2 text-gray-700 rounded-lg focus:outline-none pt-10 " rows="6">
				{{ update_songSummary }}
			</textarea>
		</div>
	</div>
	<!-- PLAYER SECTION -->
	<div class="col-span-1">
		<!-- contains the title of the song and name of artist that is currently playing -->
		<div class="flex-cols mt-8 mb-4">
			<p class="text-center text-lg text-bold">
				<!-- currently playing song artist -->
				<div id="update_songArtists_player">
					{{ update_songArtists_player }}
				</div>
			</p>
			<p class="text-center text-lg text-bold">
				<!-- currently playing song title -->
				<div id="update_songTitle_player">
					{{ update_songTitle_player }}
				</div>
			</p>
		</div>
		<div class="flex justify-center">
			{% if current_playback_image_uri %}
				<div id="update_songImage_player">
					<img src="{{ current_playback_image_uri }}" width="425px" height="425px" class="mb-4">
				</div>
			{% else %}
				<p>No current playback</p>
			{% endif %}
		</div>
		<div class="flex justify-center align-center">
			<form method="post">
				<button type="submit" name="Submit" value="<<">
					<i class="m-5 border-opacity-100 gg-play-backwards"></i>
				</button>
				<button class="" type="submit" name="Submit" value=">>">
					<i class="m-5 gg-play-forwards"></i>
				</button>
				<button class="" type="submit" name="Submit" value="pause">
					<i class="m-5 gg-play-pause"></i>
				</button>
				<button class="background-black" type="submit" name="Submit" value="play">
					<i class="m-4 gg-play-button"></i>
				</button>
			</form>
		</div>
	</div>
</div>
<div class="grid grid-flow-col grid-cols-3 gap-10 content-center">
	<div class="col-span-1">
		<h3 class="text-lg text-bold text-center mb-10">Add to Queue</h3>
		<form method="post">
			<h3 class="text-center">Song</h3>
			<input class="bg-gray-50 m-2 block w-full" id="song_name" name="song_name" type="text" placeholder="Enter a song.."><br>
			<h3 class="text-center">Artist</h3>
			<input class="bg-gray-50 m-2 block w-full md:ring-indigo-200" type="text" id="artist_name" name="artist_name" placeholder="Enter an artist.."><br>
			<div class="flex flex-nowrap justify-center">
				<input class="m-2" type="submit" name="Submit" value="Queue">
			</div>
		</form>
	</div>
		<div class="col-span-1 text-center">
			<h3 class="text-lg text-bold mb-5">Top Artist</h3>	
				<ul class="list-decimal">
				{% for artist in current_user_top_artist: %}
					<li class="p-0.2">{{ artist }}</li>
				{% endfor %}
				</ul>
			<h3 class="text-lg text-bold m-5">Top Songs</h3>
				<ul class="list-decimal">
				{% for song in current_user_top_tracks: %}
					<li class="p-0.2">{{ song }}</li>
				{% endfor %}
				</ul>
		</div>
	<div>
		<div class="col-span-1">
				<h3 class="text-center">Artist similar to 
					<div id="current_playback_song_artist">
						{{ current_playback_song_artist }}
					</div>
				</h3>
			<ul>
				{% for artist in recommended_artist: %}
					<li class="p-0.2">{{ artist }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}